extends layout

block content
    ul
      li
       h2= #{question.question.title}
       h3= #{question.question.description}
       -for comment in question.question.comment
         li <a href='answer/'+q._id> #{comment}