extends layout


block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        div.well.well-sm
          form.form-horizontal(acion="", method="post")
            fieldset
              legend.text-center Ask a Question!

              div.form-group
                label.col-md-3.control-label(for = "title") Title
                div.col-md-9
                    input(type="text" placeholder="Enter Question Title" name="title" class="form-control")

              div.form-group
                label.col-md-3.control-label(for = "tags") Tags
                div.col-md-9
                    input(type="text" placeholder="Enter Tags" name="tags" class="form-control")

              div.form-group
                label.col-md-3.control-label(for = "group") Group
                div.col-md-9
                    input(type="text" placeholder="Enter Group Name" name="group" class="form-control")

              div.form-group
                label.col-md-3.control-label(for = "description") Description
                div.col-md-9
                  textarea.form-control(id="description" name="description" placeholder="Enter Description ..." rows="5")
                  
              div.form-group
                div.col-md-12.text-right
                    button(type="submit" class="btn btn-primary btn-lg") Post Your Question 
            
