extends layout
link(rel='stylesheet', href='bootstrap/css/question.css')
block content
    div.container
        form(action='displayQuestions', method='post', class="form-signin")
            input.navbar-left(class ="form-control form-signin" type="text",placeholder='Search query',name='searchTextBox',
             required autofocus)
            button(class ="btn btn-lg btn-primary btn-block" type="submit",value="submit") Go!
    h1 Questions
    ul
       -for q in questionList
         li <a href='answer'> #{q.qOrA.title}