extends layout
link(rel='stylesheet', href='bootstrap/css/question.css')
block content
.container
    .row
        .col-md-9
          .row
            .col-md-12.post
              .row
                .col-md-12
                  h4
                    strong
                      a.post-title(href='http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html') Cool Share Button Effects Styles
              .row
                .col-md-12.post-header-line
                  span.glyphicon.glyphicon-user
                  | by
                  a(href='#') Bhaumik
                  | |
                  span.glyphicon.glyphicon-calendar
                  | Sept 16th, 2012 |
                  span.glyphicon.glyphicon-comment
                  a(href='#')
                    | 3 Comments
                  | |
                  i.icon-share
                  a(href='#') 39 Shares
                  | |
                  span.glyphicon.glyphicon-tags
                  | Tags :
                  a(href='#')
                    span.label.label-info Snipp
                  a(href='#')
                    span.label.label-info Bootstrap
                  a(href='#')
                    span.label.label-info
                      | UI
                  a(href='#')
                    span.label.label-info growth
              .row.post-content
                .col-md-3
                  a(href='#')
                    img.img-responsive(src='http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png', alt='')
                .col-md-9
                  p
                    | Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                    | Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
                    | conclusionemque, ad nobis propriae quaerendum sea.
                  p
                    a.btn.btn-read-more(href='http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html') Read more
          .row
            .col-md-12.post
              .row
                .col-md-12
                  h4
                    strong
                      a.post-title(href='http://www.jquery2dotnet.com/2013/12/brand-icons-design-using-css.html') Brand Icons Design Using Css
              .row
                .col-md-12.post-header-line
                  span.glyphicon.glyphicon-user
                  | by
                  a(href='#') Bhaumik
                  | |
                  span.glyphicon.glyphicon-calendar
                  | Sept 16th, 2012 |
                  span.glyphicon.glyphicon-comment
                  a(href='#')
                    | 3 Comments
                  | |
                  i.icon-share
                  a(href='#') 39 Shares
                  | |
                  span.glyphicon.glyphicon-tags
                  | Tags :
                  a(href='#')
                    span.label.label-info Snipp
                  a(href='#')
                    span.label.label-info Bootstrap
                  a(href='#')
                    span.label.label-info
                      | UI
                  a(href='#')
                    span.label.label-info growth
              .row.post-content
                .col-md-3
                  a(href='#')
                    img.img-responsive(src='http://3.bp.blogspot.com/-u1cpORMwaDA/UkxERgVvXWI/AAAAAAAACTI/xoN30ubr-L4/s1600/Brand+Icons+using+css.png', alt='')
                .col-md-9
                  p
                    | Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                    | Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
                    | conclusionemque, ad nobis propriae quaerendum sea.
                  p
                    a.btn.btn-read-more(href='http://www.jquery2dotnet.com/2013/12/brand-icons-design-using-css.html') Read more
          .row
            .col-md-12.post
              .row
                .col-md-12
                  h4
                    strong
                      a.post-title(href='http://www.jquery2dotnet.com/2013/11/cool-big-social-counter-button-with.html') Cool Big Social Counter Button With Bootstrap
              .row
                .col-md-12.post-header-line
                  span.glyphicon.glyphicon-user
                  | by
                  a(href='#') Bhaumik
                  | |
                  span.glyphicon.glyphicon-calendar
                  | Sept 16th, 2012 |
                  span.glyphicon.glyphicon-comment
                  a(href='#')
                    | 3 Comments
                  | |
                  i.icon-share
                  a(href='#') 39 Shares
                  | |
                  span.glyphicon.glyphicon-tags
                  | Tags :
                  a(href='#')
                    span.label.label-info Snipp
                  a(href='#')
                    span.label.label-info Bootstrap
                  a(href='#')
                    span.label.label-info
                      | UI
                  a(href='#')
                    span.label.label-info growth
              .row.post-content
                .col-md-3
                  a(href='#')
                    img.img-responsive(src='http://3.bp.blogspot.com/-oSHv84WZEz8/UpbDSzhtiqI/AAAAAAAACfE/LC6YzSK6GWQ/s1600/Cool+Big+Social+Counter+Button+With+Bootstrap.png', alt='')
                .col-md-9
                  p
                    | Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                    | Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
                    | conclusionemque, ad nobis propriae quaerendum sea.
                  p
                    a.btn.btn-read-more(href='http://www.jquery2dotnet.com/2013/11/cool-big-social-counter-button-with.html') Read more
        